*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222E5A;
}
label,
h1{
    font-size: 15px;
    font-weight: bold;
}
button{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    background-color: #222E5A;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
}

.fundo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner{
    width: 1000px;
    display:inline-block;
    background-color: white;
    border-bottom: 1px solid black;
}
.conteiner_conteudo{
    max-width: 70vw;
    margin: auto;
    text-align: center;
}
.calculo_fipe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.valores{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin:30px;
}
.valores input{
    padding: 10px;
    width: 115px;
    text-align: center;
}
.coeficiente{
    display: flex;
    flex-direction: row;
    margin: 30px;
  
}
.coeficiente_mensalidade,
.vec_type{
    margin: 0 10px 0 10px;
}
.coeficiente_franquia{
    display: flex;
    flex-direction:column;
    margin: 0 10px 0 10px;
}
.mensalidade_container,
.vec_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.mensalidade,
.veiculo{
    text-align: center;
    margin: 10px;
}
.franquia{
    margin: 10px;
}
.dados_veiculo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.dados_veiculo_text{
    text-align: center;
    margin-top: 10px ;
}
.dados_veiculo_resultado{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.mfr{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.wmfr{
    display: inline-block;
    padding: 5px;
    width: 130px;
    text-align: center;
}