*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ff5900;
}
body{
    background-color: #222E5a;
}
label,
h1{
    font-size: 15px;
    font-weight: bold;
}
button{
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    background-color: #222E5a;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ff5900;
    color: #ff5900;
}
.a:hover{
    cursor: pointer;
}
.dados{
    width: 50%;
    border: 1px solid #ff5900;
}

.cotacao{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 50%;
    border: 1px solid #ff5900;
}
.benefits{
    border: 1px solid #ff5900;
    display: none;
    margin-top: 20px;
    width: 50%;
}
.fundo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner{
    background-color: #fff;
    border-bottom: 1px solid #ff5900;
   
}
.conteiner_conteudo{
    margin: auto;
    text-align: center;
}
.calculo_fipe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    justify-content: center;
}
.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin:30px;
}
.valores input{
    padding: 10px;
    width: 115px;
    text-align: center;
}
.coeficiente{
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 6;
    margin-top: 30px;
}

.btn{
    grid-column: 1 / 6;
    margin: auto;
    width: 50%;
    margin-bottom: 10px;
}
.coeficiente_mensalidade,
.vec_type{
    margin: 0 10px 0 10px;
}
.coeficiente_franquia{
    display: flex;
    flex-direction:column;
    margin: 0 10px 0 10px;
}
.mensalidade_container,
.vec_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.mensalidade,
.veiculo{
    text-align: center;
    margin: 10px;
}
.franquia{
    margin: 10px;
}
.dados_veiculo{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    
}
.dados_veiculo_text{
    text-align: center;
    margin-top: 10px ;
}
.dados_veiculo_text h1{
    font-size: 25px;
    text-align: center;
    margin-top: 10px ;
}
.dados_veiculo_resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.phone,
.name,
.fipe{
    border-color: #ff5900;
}
.phone::placeholder,
.name::placeholder,
.fipe::placeholder {
    color: #ff5900;
}

.beneficios{
    margin-top: 10px;
 
}
.benefits_car,
.benefits_motocycle,
.beneficios_truck{
    margin: 10px 10px 10px 10px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}


.benfits_order,
.benefits_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ff5900;
    width: 100%;
    padding: 10px 0 10px 0;
}
.benefits_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:5px
}
.title{
    font-size: 25px;
}
.obs{
    font-size: 15px;
}
.mfr{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    gap: 20px;
}
.mfr > label{
    font-size: 25px;
    display: flex;
    justify-content: first flex-start;
    width: 130px;
}
.wmfr{
    display: inline-block;
    padding: 5px;
    width: 130px;
    text-align: center;
    border: none;
}
@media print {
    body {
        background-color: white;
        color: black;
    }

    .btn,
    .btn-pdf {
        display: none; /* Oculta os botões durante a impressão */
    }

    .conteiner {
        width: 100%;
    }

    .conteiner_conteudo {
        text-align: left;
        padding: 0;
    }

    .calculo_fipe,
    .dados_veiculo {
        display: block;
    }

    .dados_veiculo_resultado {
        display: block;
    }

    .mfr {
        margin-right: 0;
    }

    .wmfr {
        width: auto;
    }
}
