/*dados gerais*/
*{
    margin: 0;
    padding-left: 0;
    box-sizing: border-box;
    font-size: 15px;
    color: #ff5900;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
body{
    background-color: #D2D2D2;
}
.conteiner{
    width: 90%;
    margin: auto;
}
button{
    text-align: center;
    background-color: #222e5a;
    color: #ff5900;
    border: 1px solid #ff5900;
    padding: 10px;
    cursor: pointer;
    width: 150px;
}
input{
    padding-left: 10px;
    border: none;
    outline: 0;
    text-transform: uppercase;
}
input::placeholder{
    text-transform:capitalize;
    color: #ff5900;
    padding: 5px;
}
.selecionado{
    background-color: #fff;
    color: #222e5a;
    border: 1px solid #ff5900;
    width: 80%;
    height: 80%;
}
.modal{
    width: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display:none;
}
.modal_area{
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: flex-start;
}
.modal_inf{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
}

/*dados especificos*/

.title{
    background-color: #fff;
    margin-top: 30px;
    border: 1px solid #222e5a;
}
.title_area{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.dados_input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 30px;

}
.name_area,
.phone_area{
    border: 1px solid #222e5a;
    padding: 10px;
    background-color: #fff;
}
.dados_result{
    border: 1px solid #222e5a;
    margin-top: 30px;
    background-color: #fff;
    
}
.result_area{
    background-color: #222e5a;
}
.result_area,
.result_infor{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.bc{
    padding: 10px;
    height: 100%;
    border-right: 2px solid #ff5900;
    text-align: center;
}
.bc:last-child{
    border: none;
}
.button_area,
.selection{
    margin-top: 30px;
}
.selection{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #222e5a;
}
.selection_area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.ctc{
    margin-top: 20px;
    width: 40%;
    text-transform: uppercase;
}
.ctc2{
    margin-top: 0;
}
.btnfp{
    width: 300px;
}
.coeficiente_mensalidade,
.coeficiente_franquia,
.valores{
    display: grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.mensalidade_container,
.franquia_conteiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}
.mensalidade,
.franquia,
.valores,
.modalbtn{
    text-align: center;
}